.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.giftContainer {
  display: flex;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title {
  color: #f54b82;
  text-decoration: none;
  margin-bottom: 20px;
  display: block;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

.congratulation {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff82;
}
.congratulationImage {
  background-image: url("/congratulation.gif");
  background-repeat: none;
  background-size: cover;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.congratulationTitle {
  font-weight: bold;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #f54b82;
}
.currentGiftList {
  margin-left: 20px;
}

@media (max-width: 375px) {
  .giftContainer {
    flex-direction: column;
  }
  .currentGiftList {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
  }
}

@media (max-width: 1024px) {
  .main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .content {
    flex-direction: column;
  }
}
